#!/bin/bash

# The pre_start_cartridge and pre_stop_cartridge hooks are *SOURCED*
# immediately before (re)starting or stopping the specified cartridge.
# They are able to make any desired environment variable changes as
# well as other adjustments to the application environment.

# The post_start_cartridge and post_stop_cartridge hooks are executed
# immediately after (re)starting or stopping the specified cartridge.

# Exercise caution when adding commands to these hooks.  They can
# prevent your application from stopping cleanly or starting at all.
# Application start and stop is subject to different timeouts
# throughout the system.

# Django settings
export SECRET_KEY = 'yyyyyyy'

# Email settings
export MANDRILL_API_KEY = 'xxxxxxxx'

# Celery settings
export BROKER_URL = 'redis://:xxxxx@127.5.78.2:16379/0'

# Sentry settings
export SENTRY_DSN = 'https://xxxx:yyyy@domain.com/2'

# Pusher settings
export PUSHER_APP_ID = 'xxxxx'
export PUSHER_APP_KEY = 'yyyyy'
export PUSHER_APP_SECRET = 'zzzzz'

# OpenShift settings
export OPENSHIFT_USER = 'user@domain.com'
export OPENSHIFT_PASSWORD = 'secretpassword'

# New Relic settings
export NEW_RELIC_CONFIG_FILE = 'newrelic.ini'
export NEW_RELIC_ENVIRONMENT = 'production'